*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body{
    /* background: green; */
}
.container{
    width: 100%;
}

.logo{
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    color: whitesmoke;
}

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
    position: -webkit-sticky;
    display: flex;
    height: 80px;
    width: 100%;
    background: #549978;
}

ul{
    display: inline-flex;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 20px;
}


a{
    text-decoration: none;
    color: whitesmoke;
}

/* .register{
    border: 1px solid #549978;
    padding: 5px 20px;
    border-radius: 5px;
} */


.mainer,
.mainer1{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
   background: #549978;
    transform: translate(-50%, -50%);
    text-align: center;
}
.mainer1{
    width: 100%;
    border-radius: 0;
    padding: 0 5%;
    background: none;
}
.h1{
    color: whitesmoke;
}
.registrationFrom{
    width: 70%;
    /* background: blue; */
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    border: none;
    outline: none;
}

input:focus{
    border: 2p solid red;
}
/* .names{
    display: flex;
} */

.file{
    font-size: 16px;
    cursor: pointer;
    background: whitesmoke;
    width: 350px;
    border-radius: 10px;
    outline: none;
    box-shadow: 5px 5px 10px black;
}

::-webkit-file-upload-button{
    color: whitesmoke;
    background: #549978;
    padding: 20px;
    border: none;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}

.name{
    width: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 50px;
    padding: 0 12px;
}

.article{
    width: 350px;
    outline: none;
    border-radius: 10px;
    padding: 10px 12px;
    resize: none;
    height: 200px;
}

.description{
    width: 350px;
    height: 100px;
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    resize: none;
}

@media(max-width: 700px){
    .mainer{
        width: 80%;
        height: 70%;
    }
}


.img1,.img2, .img3{
    width: 30%;
    background: #549978;
    color: whitesmoke;
    border-radius: 10px;
    max-height: 500px;
    object-fit: contain;
    padding: 20px;
}

.containerImg{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

img{
    width: 100%;
}

